@model TurboTaskEr.Models.Project

<div class="d-flex justify-content-center">

    <a class="btn btn-outline-success" href="/Projects/Index/"><i class="bi bi-arrow-return-left"></i> Inapoi la proiecte</a>

    @if(ViewBag.AfisareButoane == true && Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
    {
        <a class="btn btn-outline-success" href="/Tasks/New/@Model.Id"><i class="bi bi-plus-circle-fill"></i> Adauga task</a>

         <a class="btn btn-outline-success" href="/Projects/Users/@Model.Id"><i class="bi bi-plus-circle-fill"></i> Adauga membrii</a>
    }
  
</div>

<br />

<div class="card">

    @Html.Partial("ProjectInfo", Model)

    @if(ViewBag.AfisareButoane == true && Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
    {
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">

            <a class="btn btn-success" href="/Projects/Edit/@Model.Id"><i class="bi bi-pencil-square"></i> Editeaza Proiect</a>

            <form method="post" action="/Projects/Delete/@Model.Id">

                <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i> Sterge Proiect</button>

            </form>

        </div>
    }

</div>

<br />

@* Afisare task-uri impreuna cu butoanele de editare si stergere *@

@foreach (var tsk in Model.Tasks)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@tsk.Title</p>
                    <small>@Html.Raw(@tsk.Description)</small>
                    <strong><i class="bi bi-person"></i> @tsk.User.UserName</strong>

                </div>
                <br>
                

                   <div class="d-flex">

                            <a class="btn btn-outline-primary" href="/Tasks/Show/@tsk.Id">Afiseaza task-ul</a>

           


                @if (ViewBag.EsteOrganizator == ViewBag.UserCurent || ViewBag.EsteAdmin)
                {

                    <div class="d-flex">

                        <div>

                            <a class="btn btn-outline-primary" href="/Tasks/Edit/@tsk.Id"><i class="bi bi-pencil-square"></i> Editeaza</a>

                        </div>

                        <div>

                            <form method="post" action="/Tasks/Delete/@tsk.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i> Sterge</button>

                            </form>

                        </div>

                    </div>
                }
                </div>

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}




@* Afisarea formularului in care se poate adauga un comentariu 

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">
                <form method="post" action="/Projects/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="ProjectId" value="@Model.Id" />

                        <label>Title</label>
                        <br />

                        <textarea class="form-control" name="Title"></textarea>

                        @Html.ValidationMessage("Title", null, new { @class = "text-danger"})

                        <br />

                        <label>Description</label>
                        <br />

                        <textarea class="form-control" name="Description"></textarea>

                        @Html.ValidationMessage("Description", null, new { @class = "text-danger"})

                        <br />

                        @*mai avem de pus status plus deadline

                        <button class="btn btn-success " type="submit">Adauga task-ul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>
*@
